# services:
#   client-001:
#     build: .
#     volumes:
#       - ./client/configs/device-001.yaml:/app/config.yaml:ro
#       - ./client/public.pem:/app/public.pem:ro
#       - ./client/ca.pem:/app/ca.pem:ro
#       - client001_state:/app/state
#       - client001_staging:/app/staging
#     environment:
#       - PYTHONUNBUFFERED=1

#   client-002:
#     build: .
#     volumes:
#       - ./client/configs/device-002.yaml:/app/config.yaml:ro
#       - ./client/public.pem:/app/public.pem:ro
#       - ./client/ca.pem:/app/ca.pem:ro
#       - client002_state:/app/state
#       - client002_staging:/app/staging
#     environment:
#       - PYTHONUNBUFFERED=1

# volumes:
#   client001_state: {}
#   client001_staging: {}
#   client002_state: {}
#   client002_staging: {}


services:
  server:
    build: .
    ports:
      - "8443:8443"
    volumes:
      - ./server:/app/server:ro
      - ./certs:/app/certs:ro
    environment:
      - PYTHONUNBUFFERED=1
    working_dir: /app/server
    command: ["python", "-m", "uvicorn", "app:app", "--host", "0.0.0.0", "--port", "8443", "--ssl-keyfile", "/app/certs/server.key", "--ssl-certfile", "/app/certs/server.crt"]

  client-001:
    build: .
    depends_on:
      - server
    volumes:
      - ./client/configs/device-001.yaml:/app/client/config.yaml:ro
      - ./client/public.pem:/app/client/public.pem:ro
      - ./client/ca.pem:/app/client/ca.pem:ro
      - client001_state:/app/client/state
      - client001_staging:/app/client/staging
      - ./clients/device-001:/app/client/current_base
    environment:
      - PYTHONUNBUFFERED=1
    working_dir: /app/client
    command: ["sh", "-c", "sleep 5 && python client.py"]

  client-002:
    build: .
    depends_on:
      - server
    volumes:
      - ./client/configs/device-002.yaml:/app/client/config.yaml:ro
      - ./client/public.pem:/app/client/public.pem:ro
      - ./client/ca.pem:/app/client/ca.pem:ro
      - client002_state:/app/client/state
      - client002_staging:/app/client/staging
      - ./clients/device-002:/app/client/current_base
    environment:
      - PYTHONUNBUFFERED=1
    working_dir: /app/client
    command: ["sh", "-c", "sleep 5 && python client.py"]

volumes:
  client001_state: {}
  client001_staging: {}
  client002_state: {}
  client002_staging: {}